body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    background: darkgray;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
}

.card {
    background: #F0F8FFd0;
    padding: 2em;
    border-radius: 25px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
}
input.search-bar {
    padding: 0.5em;
    border-radius: 14px;
    font-family: inherit;
    font-size: 110%;
    width: calc(100% - 100px);
}

button {
    padding: 0.6em;
    border-radius: 20px;
    height: 3em;
    margin: 0.3em;
    width: 3em;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(45deg, black, transparent);
}
